// FONTS ================================================

$header-font: 'Cinzel', serif;
$body-font: 'Alegreya Sans', sans-serif;

// COLOURS ============================================

$first-color: #ffff;
$second-color: #0D0C09;
$third-color: #00869a;
$fourth-color: #005a67;
$fifth-color: #e5e5e5;